*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #3333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: auto;
  padding: 20px 30px 10px 10px;
  position: relative;
  width: 420px;
  background-color: black;
}

h1 {
  font-size:2em;
  color: black;
  font-weight: bold;
  line-height: 30px;
  padding-top: 15px;
}

 h3 {
  font-size: 1.5em;
  color:black;
  border-bottom: 1px solid;
  line-height: 20px;
  padding-top: 0px;
  padding-bottom: 15px;
}

.restaurant-list {
  width: 420px;
  margin: auto;
}

.restaurant-list > .location:hover {
  transition: color 0s ease-in 0s;
  background-color: #92D1DE;
}

.arrow {
  float: right;
  padding: 20px;
  width: 50px;
}


div {
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
}
